{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Coinbase Info{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-12 text-center">
                <h1>Coinbase Buy Data</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-12 text-center">
                <h2 class="buy-price">{{ buy_price }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-12 text-center">Current value: <strong>{{ account_value }}</strong></div>
        </div>
    </div>
{% endblock %}

{% block head %}
    {{ super() }}
    {{ fixes.ie8() }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        if(!!window.EventSource) {
            var source = new EventSource('{{ url_for(".stream_buy_price") }}');
            source.onmessage = function(event) {
                $('.buy-price').text(event.data);
                document.title = "($" + event.data + ") Coinbase Info";
            }
        }
    </script>
    {{ super() }}
{% endblock %}